<div>
    <div class="row">
        <div class="col-sm-3">
            <li>Become a Seller</li>
        </div>

        <div class="col-sm-3">
            <li>Policiesr</li>
        </div>

        <div class="col-sm-3">
            <li>Terms and Conditions</li>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <li>Help Centerr</li>
            </div>
    
            <div class="col-sm-3">
                <li>News</li>
            </div>
    
            <div class="col-sm-3">
                <li>Facebook</li>
            </div>

            <div class="col-sm-3">
                <li>Youtube</li>
            </div>
    
            <div class="col-sm-3">
                <li>Sitemap</li>
            </div>

            
            <div class="col-sm-3">
                <li>FAQ</li>
            </div>

    </div>
</div>