<div class="seller-auth">
    <div class="signup" *ngIf="!showLogin">
        <h1>Seller Sign Up</h1>
        <form #userSignup="ngForm" (ngSubmit)="onSingnup(userSignup.value)" class="commom-form">
            <input class="form-input " type="text" ngModel  name="name" placeholder="Enter Name"> 
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password"> 
            <input class="form-input" type="email" name="email" ngModel placeholder="Enter Email"> 
            <button class="form-button">Signup</button>
            <a class="auth-toggle-link" (click)="loginTray()"><p> Already Have Account ? Login Here </p></a>
        </form> 
    </div>
</div>

<!-- <div class="seller-auth"> -->
    <div class="login" *ngIf="showLogin">
        <h1>Seller Log In</h1>
        <p class="error-p">{{authError}}</p>
        <form #userLogin="ngForm" (ngSubmit)="onLogin(userLogin.value)" class="commom-form">
            <input class="form-input" type="email" name="email" ngModel placeholder="Enter Email"> 
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password"> 
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="signupTray()"><p> Dont Have Account ? Signup Here </p></a>

        </form> 
    </div>
<!-- </div> -->