body {
    font-family: 'sans-serif';
    
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}   

.common-form {
    width: 300px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: flex;
}
  

.form-input {
    height: 35px;
    margin-top: 35px;

    width: 300px;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.form-button {
    float: right;
}
 