body {
    font-family: 'sans-serif';
    
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}   

.common-form {
    text-align: center;
    width: 300px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: flex;
}
  

.form-input {
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    text-align: center;

}

.form-button {
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}

.error-p {
    color: red;
    text-align: center;
}

.message-p {
    color: green;
    text-align: center;
}

/* fa-icon {
    text-align: center;
    color: red;

} */

.carousel-caption {
    background-color: #eb64172d;
    border-radius: 5px;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:  #00000082;
    border: 5px;
}


 