body {
    font-family: 'sans-serif';
    
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}   

.common-form {
    text-align: center;
    width: 300px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: flex;
}
  

.form-input {
    height: 35px;
    /* width: 300px; */
    /* display: flex; */
    margin-bottom: 20px;
    padding-left: 15px;
    color: blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;

}

.error-p {
    color: red;
    text-align: center;
}

.message-p {
    color: green;
    text-align: center;
}

/* fa-icon {
    text-align: center;
    color: red;

} */

.carousel-caption {
    background-color: #00000082;
    border-radius: 5px;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:  black;
    border: 5px;
}


.invalid-login {
    text-align: left;
    color: red;
    font-size: 16px;
    margin-bottom: 0;
}

button:disabled {
    cursor: not-allowed;
}


 