body {
    font-family: 'sans-serif';
    
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}   

.common-form {
    text-align: center;
    width: 300px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: flex;
}
  

.form-input {
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    text-align: center;

}

.form-button {
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}

.error-p {
    color: red;
}

.message-p {
    color: green;

}

fa-icon {
    text-align: center;
    color: red;

}




 