<div class="add-product">
    <h1>Edit Product</h1>
    <p class="message-p">{{editProductMessage}}</p>
    <form #editProduct="ngForm" (ngSubmit)="onSubmit(editProduct.value)" class="common-form">
        <input class="form-input" type="text" name="name" 
        ngModel="{{productData?.name}}"
        
        placeholder="Enter Product Name" value="APPLE"    >
            
        <input class="form-input" type="number" name="price" 
        ngModel="{{productData?.price}}"
 
        placeholder="Price" value="70000"> 
        <input class="form-input" type="text" name="color" 
        ngModel="{{productData?.color}}"

        
        placeholder="Enter Product Color" value="WHITE"> 
        <input class="form-input" type="text" name="category" 
        ngModel="{{productData?.category}}"
 
        
        placeholder="Enter Product category" value="SMARTPHONES"> 
        <textarea
        type="text"
        class="form-input"
        placeholder="Enter Product Description "
        name="description"
        ngModel="{{productData?.description}}"
 
        
        ></textarea>
        <input class="form-input" type="text" name="image" ngModel placeholder="Enter Product Image Url" value="../../../.."> 
        <button  >Update</button>
    </form> 

</div>